body{
    color: lightblue;

    text-align: center;
    font-family: "Orbitron", sans-serif;
}
.btn{
    color: lightblue;
    font-family: "Orbitron", sans-serif;
    font-size: 10px;
    padding:5px;
    margin-top: 10px;
    font-weight: 800;
}
#hero{
    background-image: url('img/space\ galaxy\ GIF\ by\ NASA.gif');
    background-size: cover;
    font-family: "Orbitron", sans-serif;
    padding: 10px 0 40px 0;
}
.ctr{
    text-decoration: underline white 2px solid;
}
#mainlogo{
    width: 100px;
    height: 35px;
    opacity: 0.3;
}
.footer{
    text-align: center;
    color:lightblue;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
}
#title{
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}
